---
layout: post
title: blog
---
<div class="blog">
<h3>My Recent Posts</h3>
<ul>
  {% if site.posts.first == null %}
    No posts yet. Rishi is busy writing something awesome. Meanwhile, go chat with him on <a href="https://twitter.com/rishipuri_" target="_blank">twitter</a>.
  {% else %}
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <span class="description">{{ post.description }}</span>
        <span class="date">{{ post.date | date: "%b %d, %Y"}}</span>
      </li>
    {% endfor %}
  {% endif %}
</ul>
</div>