---
layout: post
---

{% unless page.title == 'blog' %}
<div class="status">
  <p>Currently: Dabbling in React.js</p>
</div>
<div class="about">
  <h3>About Me</h3>
  <p>Hi! Hello, I'm Rishipuri. You can call me <span class="special">Rishi</span>.</p>
  <p>I'm a developer currently based in The UK looking for entry level roles as <span class="special">a Web and/or Python developer</span>.</p>
  <p>I have keen interests in <span class="special">Web Development</span> (JavaScript and Python), <span class="special">Data Science</span> and <span class="special">Machine Learning</span>.</p>
  <p>I grew up in <span class="special">Mumbai</span> and graduated from <span class="special">University of Mumbai</span> with a degree in <span class="special">IT</span>.</p>
  <p>I love taking minimalist photographs. I love reading. I wish to travel the whole world.</p>
</div>

<div class="latestblog">
  <h3>Latest Blog Post</h3>
  <p>
    {% for post in site.posts limit:1 %}
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
      <span class="description">{{ post.description }}</span>
      <span class="date">{{ post.date | date: "%b %d, %Y"}}</span>
    {% endfor %}
  </p>
</div>

<div class="projects">
  <h3>Projects</h3>
  <ul>
    <li><a href="https://github.com/rishipuri/fs_imdbratings">fs_imdbratings:</a> A Chrome Extension to show IMDB ratings on followshows.com using JavaScript</li>
    <li><a href="http://codepen.io/rishipuri/full/LGqzWb/">Tribute Page:</a> A FreeCodeCamp's Front End Project using HTML (Jade) and BootStrap</li>
    <li><a href="http://codepen.io/rishipuri/full/bEPZeY/">Portfolio Page:</a> A FreeCodeCamp's Front End Project using HTML and BootStrap</li>
    <li><a href="http://codepen.io/rishipuri/full/MygVgO/">Random Quote Machine</a> A FreeCodeCamp's Front End Project using HTML, Bootstrap and jQuery</li>
  </ul>
</div>
<div class="contact">
  <h3>Contact Me</h3>
  <p>You can find me <a href="https://www.linkedin.com/in/rishipuri">on LinkedIn</a>, <a href="https://github.com/rishipuri">on Github</a>, <a href="https://twitter.com/rishipuri_">on Twitter</a>, <a href="http://codepen.io/rishipuri/">on Codepen</a> and <a href="https://www.instagram.com/instapuri_/">on Instagram</a>.</p>
  <p>Or you can email at <a href="mailto:rishipuri@live.in">rishipuri@live.in</a></p>
</div>
{% endunless %}

{% if page.title == 'blog' %}
  {{ content }}
{% endif %}