// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

body {
  color: $body-color;
  background-color: $body-bg;
}

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: $orange;
    background-color: $lightblue;
  }
}

span.special {
  border-bottom: 2px solid $lightblue;
}

span.description {
  display: block;
  font-size: 0.8rem;
  color: #9a9a9a;
}

span.date {
  display: block;
  font-size: 0.8rem;
  color: #9a9a9a;
  text-transform: uppercase;
}

.status p{
  background-color: #f9f9f9;
  padding: 0.5rem;
  font-family: $code-font-family;
  font-size: 85%;
  border-radius: 0.25rem;
}