$orange: #ff5f2e;
$lightblue: #e1eef6;

@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Nunito);

$root-font-family: "Lora", Helvetica Neue, Arial, sans-serif;
$header-font-family: "Bree Serif", Helvetica Neue, Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.6;


$body-color: #515151;
$body-bg: #fff;
$link-color: #337ab7;


$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;