<!doctype>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h2><a href="/">rishipuri</a></h2>
        <ul class="nav">
          <li>
            {% if page.date or page.title == 'blog' %}
              <a href="/">about me</a>
            {% else %}
              <a href="/blog">blog</a>
            {% endif %}
          </li>
        </ul>
      </div>
      {% unless page.date %}
        {{ content }}
      {% endunless %}
      {% if page.date %}
        <div class="post">
          <div class="title">
            <h3>{{ page.title }}</h3>
            <p>{{ page.date | date_to_string }}</p>
          </div>
          <div class="body">
            {{ content }}
          </div>
        </div>
      {% endif %}
      <div class="footer">
        <p>footer</p>
      </div>
    </div>
  </body>
</html>