<!doctype>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1><a href="/">rishipuri</a></h1>
        <ul class="nav">
          <li>
            {% if page.title == 'blog' %}
              <a href="/">about me</a>
            {% else %}
              <a href="/blog">blog</a>
            {% endif %}
          </li>
        </ul>
      </div>
      {% unless page.date %}
        {{ content }}
      {% endunless %}
      {% if page.date %}
        <div class="post">
          <div class="title">
            <h2>{{ page.title }}</h2>
            <p class="date">{{ page.date | date_to_string }}</p>
          </div>
          <div class="body">
            {{ content }}
          </div>
        </div>
      {% endif %}
      <div class="footer">
        <p>This is a footer. This is the end.</p>
      </div>
    </div>
  </body>

  {% include ga.html %}
</html>