<!doctype>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1><a href="/"><img src="{{ site.url }}assets/images/logo.png" alt=""></a></h1>
        <ul class="nav">
          <li>
            {% if page.title == 'blog' %}
              <a href="/">about me</a>
            {% else %}
              <a href="/blog">blog</a>
            {% endif %}
          </li>
        </ul>
      </div>
      {% unless page.date %}
        {{ content }}
      {% endunless %}
      {% if page.date %}
        <div class="post">
          <div class="title">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
          </div>
          <div class="body">
            {{ content }}
          </div>
        </div>

        {% include scroll.html %}
      {% endif %}
      <div class="footer">
        <p>This is a footer. This is the end.</p>
      </div>
    </div>
  </body>

  {% include ga.html %}
</html>